# 平台相关隐藏文件
.settings/*
.cproject
.project
.DS_Store

#项目临时工程
target/

# gtags相关文件
GPATH
GRTAGS
GTAGS
ctags

keil/stm32f103rbx/LoRaWan_classA_block/Objects/*
keil/stm32f103rbx/LoRaWan_classA_block/DebugConfig/*
keil/stm32f103rbx/LoRaWan_classA_block/Listings/*
keil/stm32f103rbx/LoRaWan_classA_block/RTE/*
keil/stm32f103rbx/LoRaWan_classA_block/*.lz
keil/stm32f103rbx/LoRaWan_classA_block/*.scvd

keil/stm32f103rbx/LoRaWan_classA_event/Objects/*
keil/stm32f103rbx/LoRaWan_classA_event/DebugConfig/*
keil/stm32f103rbx/LoRaWan_classA_event/Listings/*
keil/stm32f103rbx/LoRaWan_classA_event/RTE/*
keil/stm32f103rbx/LoRaWan_classA_event/*.lz
keil/stm32f103rbx/LoRaWan_classA_event/*.scvd

keil/stm32f103rbx/LoRaWan_classC_block/Objects/*
keil/stm32f103rbx/LoRaWan_classC_block/DebugConfig/*
keil/stm32f103rbx/LoRaWan_classC_block/Listings/*
keil/stm32f103rbx/LoRaWan_classC_block/RTE/*
keil/stm32f103rbx/LoRaWan_classC_block/*.lz
keil/stm32f103rbx/LoRaWan_classC_block/*.scvd

keil/stm32f103rbx/LoRaWan_classC_event/Objects/*
keil/stm32f103rbx/LoRaWan_classC_event/DebugConfig/*
keil/stm32f103rbx/LoRaWan_classC_event/Listings/*
keil/stm32f103rbx/LoRaWan_classC_event/RTE/*
keil/stm32f103rbx/LoRaWan_classC_event/*.lz
keil/stm32f103rbx/LoRaWan_classC_event/*.scvd

keil/stm32f103rbx/p2p_rx_block/Objects/*
keil/stm32f103rbx/p2p_rx_block/DebugConfig/*
keil/stm32f103rbx/p2p_rx_block/Listings/*
keil/stm32f103rbx/p2p_rx_block/RTE/*
keil/stm32f103rbx/p2p_rx_block/*.lz
keil/stm32f103rbx/p2p_rx_block/*.scvd

keil/stm32f103rbx/p2p_rx_event/Objects/*
keil/stm32f103rbx/p2p_rx_event/DebugConfig/*
keil/stm32f103rbx/p2p_rx_event/Listings/*
keil/stm32f103rbx/p2p_rx_event/RTE/*
keil/stm32f103rbx/p2p_rx_event/*.lz
keil/stm32f103rbx/p2p_rx_event/*.scvd

keil/stm32f103rbx/p2p_tx_block/Objects/*
keil/stm32f103rbx/p2p_tx_block/DebugConfig/*
keil/stm32f103rbx/p2p_tx_block/Listings/*
keil/stm32f103rbx/p2p_tx_block/RTE/*
keil/stm32f103rbx/p2p_tx_block/*.lz
keil/stm32f103rbx/p2p_tx_block/*.scvd

keil/stm32f103rbx/p2p_tx_event/Objects/*
keil/stm32f103rbx/p2p_tx_event/DebugConfig/*
keil/stm32f103rbx/p2p_tx_event/Listings/*
keil/stm32f103rbx/p2p_tx_event/RTE/*
keil/stm32f103rbx/p2p_tx_event/*.lz
keil/stm32f103rbx/p2p_tx_event/*.scvd

keil/stm32f103rbx/template/Objects/*
keil/stm32f103rbx/template/DebugConfig/*
keil/stm32f103rbx/template/Listings/*
keil/stm32f103rbx/template/RTE/*
keil/stm32f103rbx/template/*.lz
keil/stm32f103rbx/template/*.scvd



